<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="comsiteucrtcu501.google.httpssites.tcu501">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainScreen">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".SplashActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Especificacion de Primaria -->
        <activity
            android:name=".ElementarySchoolActivity"
            android:label="Elementary School"
            android:parentActivityName=".MainScreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainScreen" />
        </activity>

        <!-- Especificacion de Secundaria -->
        <activity
            android:name=".SecundariaActivity"
            android:label="High School"
            android:parentActivityName=".MainScreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainScreen" />
        </activity>

        <!-- Especificacion de Herarquia de grados de Primaria -->
        <activity
            android:name=".FirstGradeActivity"
            android:label="First Grade"
            android:parentActivityName=".ElementarySchoolActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ElementarySchoolActivity" />
        </activity>
        <activity
            android:name=".SecondGradeActivity"
            android:label="Second Grade"
            android:parentActivityName=".ElementarySchoolActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ElementarySchoolActivity" />
        </activity>
        <activity
            android:name=".ThirdGradeActivity"
            android:label="Third Grade"
            android:parentActivityName=".ElementarySchoolActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ElementarySchoolActivity" />
        </activity>
        <activity
            android:name=".CuartoGradoActivity"
            android:label="Fourth Grade"
            android:parentActivityName=".ElementarySchoolActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ElementarySchoolActivity" />
        </activity>
        <activity
            android:name=".QuintoGradoActivity"
            android:label="Fifth Grade"
            android:parentActivityName=".ElementarySchoolActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ElementarySchoolActivity" />
        </activity>
        <activity
            android:name=".SextoGradoActivity"
            android:label="Sixth Grade"
            android:parentActivityName=".ElementarySchoolActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ElementarySchoolActivity" />
        </activity>
        <activity
            android:name=".PaintActivity"
            android:label="Paint"
            android:parentActivityName=".FirstGradeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FirstGradeActivity" />
            >
        </activity>
        <activity
            android:name=".MemoryActivity"
            android:label="Memory"
            android:parentActivityName=".FirstGradeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FirstGradeActivity" />
        </activity>
        <activity
            android:name=".RompecabezasActivity"
            android:label="Rompecabezas"
            android:parentActivityName=".FirstGradeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FirstGradeActivity" />
        </activity>
        <activity
            android:name=".HangmanActivity"
            android:label="Hangman"
            android:parentActivityName=".ThirdGradeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ThirdGradeActivity" />
        </activity>
        <activity
            android:name=".MathToSpeech"
            android:label="MathToSpeech" />
        <activity
            android:name=".dragDrop.DragDropSecondActivity"
            android:label="DragDropActivity" />
        <activity
            android:name=".dragDrop.DragDropFifthActivity"
            android:label="DragDropActivity" />
        <activity
            android:name=".dragDrop.DragDropFirstActivity"
            android:label="DragDropActivity" />
        <activity
            android:name=".dragDrop.DragDropFourthActivity"
            android:label="DragDropActivity" />
        <activity
            android:name=".dragDrop.DragDropSixthActivity"
            android:label="DragDropActivity" />
        <activity
            android:name=".dragDrop.DragDropThirdActivity"
            android:label="DragDropActivity" />
        <activity
            android:name=".Vocabulary.ClickListenFirst"
            android:label="Click and listen" />
        <activity
            android:name=".Vocabulary.ClickAndListenSecond"
            android:label="Click and listen" />
        <activity
            android:name=".Vocabulary.ClickListenThird"
            android:label="Click and listen" />
        <activity
            android:name=".Vocabulary.ClickListenFourth"
            android:label="Click and listen" />
        <activity
            android:name=".Vocabulary.ClickListenFifth"
            android:label="Click and listen" />
        <activity
            android:name=".Vocabulary.ClickListenSixth"
            android:label="Click and listen" />
        <activity
            android:name=".FreeForAllActivity"
            android:label="Free for all games" />
        <activity android:name=".WordSearch.WordSearchMenuActivity" />
        <activity android:name=".WordSearchGameActivity"></activity>
    </application>

</manifest>